_site
.bundle

#bower bloat
assets/vendor/bootstrap/grunt
assets/vendor/bootstrap/less
assets/vendor/bootstrap/test-infra
assets/vendor/jquery/src

#fontawesome bloat
assets/vendor/font-awesome/less
assets/vendor/font-awesome/scss
assets/vendor/font-awesome/src
